body {
  background: #2560b8;
}
.cnt {
  text-align: center;
  color: rgb(255, 255, 255);
}
a {
  display: block;
  text-align: center;
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  background: #ffffff;
  border: none;
  color: #2560b8;
  text-decoration: none;
}
